 body {
margin-bottom: 150px;
 }
 
 img {
     bottom: 10px;
 }
 
 .input-group-top {
     margin: 5px 0px;
 }
 
 .input-group-right {
     margin-right: 20px;
 }
 
 .page-header {
     border-bottom: 2px solid #eee;
 }
 
 .alert {
     margin-top: 25px;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
 }
 
 .box-title {
     display: inline-block;
     margin: 0;
     line-height: 1;
 }
 
 .form-control:focus {
     border-color: #00a65a;
 }
 
 .form-primary {
     top: 50px;
     border-top: 3px solid #00a65a;
 }
 
 a,
 .btn {
     transition: all .5s;
 }
 
 .btn-sharp {
     border-radius: 0;
 }
 
 .btn-flat {
     border-radius: 0;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
     border-width: 1px;
 }
 
 .btn-success:hover {
     background-color: #0a8d63;
 }
 
 .form-header {
     border-top-color: #00a65a;
     color: #444;
     display: block;
     padding: 10px;
     position: relative;
 }
 
 .btn-success {
     background-color: #00a65a;
 }
 
 .glyphicon {
     top: 0px;
 }
 
 .squaare {
     width: 25px;
     height: 25px;
     border: 1px solid black;
     background: white;
 }
 
 .panel-success > .panel-heading {
     border-radius: 0px;
 }
 
 .panel-success {
     border-radius: 0px;
 }
 
 .panel table .btn {
     width: 90px;
 }
 
 .panel-bodyy {
     padding: 0px;
 }
 
 .panel-body table {
     margin-bottom: 0px;
 }
 
 .panel-body .row {
     margin-top: 20px;
 }
 
 .panel-body .btn-top {
     margin-top: 20px;
 }
 
 .panel-successs {
     margin-top: 20px;
 }
 
 .btn-sq-lg {
     width: 130px !important;
     height: 130px !important;
     padding-top: 25px;
     margin-left: 10px;
     border-radius: 50%;
 }
 
 .btn-sq {
     width: 100px !important;
     height: 100px !important;
     font-size: 10px;
 }
 
 .btn-sq-sm {
     width: 50px !important;
     height: 50px !important;
     font-size: 10px;
 }
 
 .btn-sq-xs {
     width: 25px !important;
     height: 25px !important;
     padding: 2px;
 }
 
 .row {
     margin-bottom: 10px;
 }
 
 .navbar-inverse .navbar-brand {
     color: #fff;
 }
 
 .navbar-inverse .navbar-nav > li > a {
     color: #fff;
 }
 
 .footer {
     position: fixed;
     margin-top: 20px;
     padding-top: 10px;
     width: 100%;
     height: 110px;
     background-color: #e4e5e6;
     bottom: 0;
     
 }
 
 .text-muted {
     color: #777;
 }
 
 .container .text-muted {
     margin: 5px 0;
 }
 
 .hexagon {
     width: 0;
     border-bottom: 30px solid #6C6;
     border-left: 52px solid transparent;
     border-right: 52px solid transparent;
 }
 
 .hex {
     width: 104px;
     height: 60px;
     background-color: #6C6;
 }
 
 .hexx {
     width: 0;
     border-top: 30px solid #6C6;
     border-left: 52px solid transparent;
     border-right: 52px solid transparent;
 }
 
 .emerald {
     background-color: #2ecc71;
 }
 
 .tile-blue {
     background-color: #2e8bcc;
 }
 
 .pomegranate {
     background-color: #e67e22;
 }
 
 .circ {
     font-size: 30px;
     border-radius: 1000px;
     box-sizing: border-box;
     line-height: 105px;
     width: 100px;
     height: 100px;
     max-width: 100%;
     text-align: center;
     color: #fff;
     background-color: #2EAB7E;
     display: inline-block;
     vertical-align: middle;
     position: relative;
 }
 
 .circ-danger {
     font-size: 30px;
     border-radius: 1000px;
     box-sizing: border-box;
     line-height: 105px;
     width: 100px;
     height: 100px;
     max-width: 100%;
     text-align: center;
     color: #fff;
     background-color: #AA3939;
     display: inline-block;
     vertical-align: middle;
     position: relative;
 }
 
 .pulse-danger {
     position: absolute;
     left: 0px;
     background: none;
     border: 1px solid #AA3939;
     transition: all .4s;
 }
 
 .circ:hover {
     color: #fff;
 }
 
 .circ-danger:hover {
     color: #fff;
 }
 
 .pulse-danger:hover {
     opacity: 1;
     transform: scale(1.15);
     transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
 }
 
 .pulse {
     position: absolute;
     left: 0px;
     background: none;
     border: 1px solid #2EAB7E;
     transition: all .4s;
 }
 
 .pulse:hover {
     opacity: 1;
     transform: scale(1.15);
     transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
 }
 
 .list-items {}
 
 .list-items .list {
     list-style: none;
     float: left;
     display: inline-block;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
 }
 
 li.list {
     width: 200px;
 }
 
 a img {
     vertical-align: initial;
 }
 
 li h3 {
     margin-top: 10px;
     font-family: "freightsans_regular", sans-serif;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #181818;
     font-size: 1em;
     margin-top: 20px;
 }
 
 h5 {
     margin-top: 10px;
     font-family: "freightsans_regular", sans-serif;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 1px;
     color: #181818;
     font-size: 1em;
     margin-top: 20px;
 }
 
 .navbar .nav > li > a:hover {
     background: transparent;
     color: #2EAB7E;
     float: left;
 }
 
 .navbar .nav > ul > a {
     padding-right: 20px;
     text-align: center;
 }
 
 .navbar-nav > li > a {
     padding-top: 10px;
     padding-bottom: 10px;
     line-height: 20px;
     color: black;
 }
 
 .navbar {
     position: relative;
     min-height: 120px;
     margin-bottom: 20px;
     border: 1px solid #ccc;
     border-radius: initial;
     border-radius: 0px;
     box-shadow: 0px 1px 3px #eee;
     margin-bottom: 20px;
 }
 
 .navbar-brand {
     color: #2EAB7E;
     float: left;
     height: 50px;
     padding: 15px 15px;
     font-size: 18px;
 }
 
 .center-logo {
     margin-top: 10px;
     margin-left: 10px;
 }
 
 .ss {
     margin-top: 10px;
     font-family: "freightsans_regular", sans-serif;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #181818;
     font-size: 1em;
     margin-top: 20px;
 }
 
 .progress {
     height: 45px;
     border-radius: 0px;
 }
 
 .progress-bar {
     padding-top: 10px;
 }
 
 .bb {
     margin-top: 10px;
 }
 
 .label {
     border-radius: 0px;
     margin-left: 5px;
 }
 
 .dropdown-submenu {
     position: relative;
 }
 
 .dropdown-submenu>.dropdown-menu {
     top: 0;
     left: 100%;
     margin-top: -6px;
     margin-left: -1px;
     -webkit-border-radius: 0 6px 6px 6px;
     -moz-border-radius: 0 6px 6px;
     border-radius: 0 6px 6px 6px;
 }
 
 .dropdown-submenu:hover>.dropdown-menu {
     display: block;
 }
 
 .dropdown-submenu>a:after {
     display: block;
     content: " ";
     float: right;
     width: 0;
     height: 0;
     border-color: transparent;
     border-style: solid;
     border-width: 5px 0 5px 5px;
     border-left-color: #ccc;
     margin-top: 5px;
     margin-right: -10px;
 }
 
 .dropdown-submenu:hover>a:after {
     border-left-color: #fff;
 }
 
 .dropdown-submenu.pull-left {
     float: none;
 }
 
 .dropdown-submenu.pull-left>.dropdown-menu {
     left: -100%;
     margin-left: 10px;
     -webkit-border-radius: 6px 0 6px 6px;
     -moz-border-radius: 6px 0 6px 6px;
     border-radius: 6px 0 6px 6px;
 }
 /*
test clock*/
 
 .clock-widget {
     background: #2EAB7E;
     width: 100%;
     height: 113px;
     margin-bottom: 20px;
     margin-top: 10px;
 }
 
 .clock-widget .widget-header {
     background: rgba(32, 34, 38, 0.9);
     line-height: 35px;
     color: #f1f1f3;
     font-size: 14px;
     padding: 0 10px;
 }
 
 .divider-widget {
     width: 100%;
     height: 10px;
     text-align: center;
 }
 
 .clock-widget ul li {
     display: block;
     text-align: center;
     color: white;
     float: left;
     margin-top: 5px;
 }
 
 .clock-widget ul li.number {
     width: 80px;
 }
 
 .clock-widget ul li.points,
 .clock-widget ul li span {
     font-size: 48px;
     line-height: 48px;
     display: block;
 }
 
 #widget_date {
     font-size: 1.4em;
     text-align: center;
 }
 
 .clock {
     font-size: 3em;
     /*height: 100%;*/
     line-height: 100%;
     color: #eee;
     text-align: center;
     /*  margin-bottom: 10px;
*/
 }
 
 .clock-widget {
     padding-bottom: 10px;
     height: 100%;
 }
 
 @import url(http://fonts.googleapis.com/css?family=Muli:400, 300);
 .calendar,
 .calendar_weekdays,
 .calendar_content {
     max-width: 300px;
 }
 
 .calendar {
     margin: auto;
     font-family: 'Muli', sans-serif;
     font-weight: 400;
 }
 
 .calendar_content,
 .calendar_weekdays,
 .calendar_header {
     position: relative;
     overflow: hidden;
 }
 
 .calendar_weekdays div {
     display: inline-block;
     vertical-align: top;
 }
 
 .calendar_weekdays div,
 .calendar_content div {
     width: 14.28571%;
     overflow: hidden;
     text-align: center;
     background-color: transparent;
     color: #6f6f6f;
     font-size: 14px;
 }
 
 .calendar_content div {
     border: 1px solid transparent;
     float: left;
 }
 
 .calendar_content div:hover {
     border: 1px solid #dcdcdc;
     cursor: default;
 }
 
 .calendar_content div.blank:hover {
     cursor: default;
     border: 1px solid transparent;
 }
 
 .calendar_content div.past-date {
     color: #d5d5d5;
 }
 
 .calendar_content div.today {
     font-weight: bold;
     font-size: 14px;
     color: #87b633;
     border: 1px solid #dcdcdc;
 }
 
 .calendar_content div.selected {
     background-color: #f0f0f0;
 }
 
 .calendar_header {
     width: 100%;
     text-align: center;
 }
 
 .calendar_header h2 {
     padding: 0 10px;
     font-family: 'Muli', sans-serif;
     font-weight: 300;
     font-size: 18px;
     color: #87b633;
     float: left;
     width: 70%;
     margin: 0 0 10px;
 }
 
 button.switch-month {
     background-color: transparent;
     padding: 0;
     outline: none;
     border: none;
     color: #dcdcdc;
     float: left;
     width: 15%;
     transition: color .2s;
 }
 
 button.switch-month:hover {
     color: #87b633;
 }
